
.column {
    float: left;
    width: 20%;
    height: 200px;
    padding: 5px;
    display: table;
}

body{
  height: auto;
  background: linear-gradient(#f8f8f8, #a9adb2) !important;
}

.user_pro_pic img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        max-height: 300px;      
    }

h1{
  text-align: center;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  margin-left:15px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
    background: linear-gradient(#e5e5e5, #c1bfbf);
  padding: 20px;
  border: 4px solid #95979b;
  border-style: outset;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}