
.navbar-nav.navbar-right:last-child {
    margin-right: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-header button{
	margin-top: 4%;
	margin-bottom: auto;
}
.navbar-nav{
	font-size: 1.3em;
	padding-top: 2%;
}

#project_name{
	padding-top: 5.5%;
	text-align: center;
	color: white;
	font-size: 50;
}

.navbar{
	margin-bottom: 0px;
}
